# SERVICE
service.name=UserProfileService
spring.application.name=user-profile-service
server.port=8010
frontend.base-url=http://user.localhost:7010

# HTTPS
#server.ssl.key-store=classpath:keystore.p12
#server.ssl.key-store-password=password
#server.ssl.key-store-type=PKCS12
#server.ssl.key-alias=tomcat

# SPRING JPA
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

# POSTGRES
spring.datasource.url=jdbc:postgresql://localhost:5432/user_profile_db
spring.datasource.username=postgres
spring.datasource.password=password
spring.datasource.driver-class-name=org.postgresql.Driver

################################################################################
# RABBITMQ
# general
spring.rabbitmq.stream.host=localhost
spring.rabbitmq.stream.port=5672
spring.rabbitmq.stream.username=guest
spring.rabbitmq.stream.password=guest
spring.rabbitmq.connection-timeout=5000
spring.rabbitmq.requested-heartbeat=10
# template
spring.rabbitmq.template.reply-timeout=5000
spring.rabbitmq.template.retry.max-attempts=3
spring.rabbitmq.template.retry.initial-interval=1000
spring.rabbitmq.template.retry.max-interval=5000
# listener
spring.rabbitmq.listener.direct.retry.max-attempts=3
spring.rabbitmq.listener.direct.retry.initial-interval=1000
spring.rabbitmq.listener.direct.retry.max-interval=5000
# queue
spring.rabbitmq.user.request.queue=user-request-queue
spring.rabbitmq.user.response.queue=user-response-queue
spring.rabbitmq.user.exchange=user-exchange
spring.rabbitmq.user.request.routing-key=user-request-routing-key
spring.rabbitmq.user.response.routing-key=user-response-routing-key

spring.rabbitmq.session.request.queue=session-request-queue
################################################################################

# JWT
jwt.secret.access=copy secret from authorization service