# SERVICE
service.name=UserProfileService
spring.application.name=user-profile-service
server.port=8010
frontend.base-url=http://user.localhost:7010

# HTTPS
#server.ssl.key-store=classpath:keystore.p12
#server.ssl.key-store-password=password
#server.ssl.key-store-type=PKCS12
#server.ssl.key-alias=tomcat

# SPRING JPA
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

# POSTGRES
spring.datasource.url=jdbc:postgresql://localhost:5432/user_profile_db
spring.datasource.username=postgres
spring.datasource.password=password
spring.datasource.driver-class-name=org.postgresql.Driver

# RABBITMQ
spring.cloud.stream.rabbit.binder.addresses=localhost:5672
spring.cloud.stream.rabbit.binder.username=guest
spring.cloud.stream.rabbit.binder.password=guest
spring.cloud.stream.rabbit.binder.configuration.connectionTimeout=5000
spring.cloud.stream.rabbit.binder.configuration.requestTimeout=5000
spring.cloud.stream.rabbit.binder.configuration.retry.maxAttempts=3
spring.cloud.stream.rabbit.binder.configuration.retry.initialInterval=1000
spring.cloud.stream.rabbit.binder.configuration.retry.maxInterval=5000

# RABBITMQ QUEUE
spring.cloud.stream.bindings.processUserRequest-in-0.destination=user-request-queue
spring.cloud.stream.bindings.processUserRequest-out-0.destination=user-response-queue

rabbit.session.queue=session-request-queue